language: python
python:
  - "2.7"
  - "3.4"

env:
  - KRB5_VER="1.10"
  - KRB5_VER="1.12"
  - KRB5_VER="1.13"
  # - KRB5_VER="master"

matrix:
  exclude:
    - python: "3.4"
      env: KRB5_VER="1.10"
  include:
    - python: "3.3"
      env: KRB5_VER="1.12"

install: sh .travis.install.sh

script: sh .travis.sh

before_deploy: sh .travis.before-deploy.sh
deploy:
  provider: releases
  api_key:
    secure: U8RPR6liglI4J8MOSEyK9uxvSFRMcCkKLflpIFKcpUFg+PUuK85YtRdOOL/L/pifat9/KvoF7OJEMNTQjoYAhziMu8GGsiPZlkFzXNiy54FxTTtgprkhllRK7nw/jK/hopKM01goKVaUL860aU+KdpfStRTaAy8ZGEj13jwOMYU=
  file:
    - tag_build/${TRAVIS_TAG}.md5sum
    - tag_build/${TRAVIS_TAG}.tar.gz
  on:
    repo: pythongssapi/python-gssapi
    tags: true
    python: "3.4"
    condition: "$KRB5_VER = '1.13'"
